@import '../styles.less';


::ng-deep .ant-layout-header {
	background: white !important;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.custom-menu {
	display: flex;
	justify-content: flex-end;
}

.menu-right-items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.custom-menu-item {
	color: @primary-color;
	font-size: 1.15rem;
	position: relative;
	padding-bottom: 8px;
}

.custom-menu-item.active,
.custom-menu-item:hover {
	color: @secondary-color;
}