@import "ng-zorro-antd/ng-zorro-antd.less";

@primary-color: #00d3d3;
@secondary-color: #008383;
@font-family: 'Calm', Arial, sans-serif;

body {
  font-family: @font-family;
}

body.dark-theme {
  background: #686868;
  color: #e0e0e0;
}