@import "ng-zorro-antd/ng-zorro-antd.less";

@primary-color: #00d3d3;
@secondary-color: #008383;
@font-family: 'Calm', Arial, sans-serif;

body {
  font-family: @font-family;
}

body.dark-theme {
  background: #686868;
  color: #e0e0e0;
}

.main-container {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 48px 16px 0 16px;
	background: linear-gradient(180deg, #fff 0%, rgba(@primary-color, 0.10) 100%);
	position: relative;
}